<div class="info col-sm-9">
    <section class="home-notifications">
        <header class="clearfix">
            <i class="fa fa-exclamation-circle"></i>
            <h4 class="inline-b">&nbsp&nbsp&nbspYou have notifications from the application :</h4>
            <a href="#" class="close-notifications pull-right">
                <i class="fa fa-times-circle"></i>
            </a>
        </header>
        <div class="content-notifications">
            <div class="comments">
                <i class="fa fa-comment fa-2x center"></i>
                <ul class="inline-b">
                    <li>
                        <span>Vadorequest commented (2) your translation : </span>
                        <a href="#">#5fq886gq4gq5</a>
                    </li>
                    <li>
                        <span>Alibaba commented your translation : </span>
                        <a href="#">#5fq886gq4gq5</a>
                    </li>
                    <li>
                        <span>Versatz commented (2) your translation : </span>
                        <a href="#">#5fq886gq4gq5</a>
                    </li>
                </ul>
            </div>
            <div class="actions">
                <i class="fa fa-code-fork fa-2x center"></i>
                <ul class="inline-b">
                    <li>
                        <span>Vadorequest forked from your translation : </span>
                        <a href="#">#5fq886gq4gq5</a>
                        <span>-> </span>
                        <a href="#">#1qz34f3q1u52</a>
                    </li>
                    <li>
                        <span>Jericho forked from your translation : </span>
                        <a href="#">#5fq886gq4gq5</a>
                        <span>-> </span>
                        <a href="#">#1qz34f3q1u52</a>
                    </li>
                    <li>
                        <span>Beast forked from your translation : </span>
                        <a href="#">#5fq886gq4gq5</a>
                        <span>-> </span>
                        <a href="#">#1qz34f3q1u52</a>
                    </li>
                    <li>
                        <span>Fanzir forked from your translation : </span>
                        <a href="#">#5fq886gq4gq5</a>
                        <span>-> </span>
                        <a href="#">#1qz34f3q1u52</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="home-content">
        <h3>Some explanations</h3>
        <i class="fa fa-reply"></i>
        <i class="display-b">&nbspThis application will be our official application to translate Ayolan products.</i>
        <p>It manages all translations used by the game, including dialogs between characters, PNJ, item descriptions (icons, abilities, ...) as well as missions and much more.</p>
        <h3>Functioning of this application</h3>
        <i class="fa fa-reply"></i>
        <i class="display-b">&nbspIt's based on a range of features.</i>
        <p>Together, they allow you to create your own translations, to be able to update and make revisions to correct what you feel you need to change in order to correct any errors in the translations (it's open warfare! ).</p>
        <p>You can at any time participate to the translation's development with other members. This is an advantage for you to deepen your knowledge of a language you don't control completely, but also able to learn about a language unknown to you!</p>
        <p>Feel free to participate to the game's translations as a rating system is in place to ensure the eligibility thereof and therefore ensure the eco-system Ayolan translation module.</p>
        <p class="inline-b">To learn more about the features available to the application, do not hesitate to inform you about the</p>
        <a href="#" class="inline-b">documentation</a><span>.</span>
    </section>
    <section class="road-map">
        <h3>Road map</h3>
        <div class="func complete">
            <h5 class="inline-b bs-callout bs-callout-success">
                <i class="fa fa-circle"></i>
                <span>&nbspComplete</span>
            </h5>
            <ul>
                <li>- functionality 1</li>
                <li>- functionality 2</li>
                <li>- functionality 3</li>
                <li>- functionality 4</li>
            </ul>
        </div>
        <div class="func almost">
            <h5 class="inline-b bs-callout bs-callout-warning">
                <i class="fa fa-dot-circle-o"></i>
                <span>&nbspAlmost complete</span>
            </h5>
            <ul>
                <li>- functionality 1</li>
                <li>- functionality 2</li>
            </ul>
        </div>
        <div class="func in-working">
            <h5 class="inline-b bs-callout bs-callout-info">
                <i class="fa fa-circle-o"></i>
                <span>&nbspIn working</span>
            </h5>
            <ul>
                <li>- functionality 1</li>
                <li>- functionality 2</li>
                <li>- functionality 3</li>
            </ul>
        </div>
        <div class="func not-started">
            <h5 class="inline-b bs-callout bs-callout-danger">
                <i class="fa fa-circle-thin"></i>
                <span>&nbspNot started</span>
            </h5>
            <ul>
                <li>- functionality 1</li>
                <li>- functionality 2</li>
                <li>- functionality 3</li>
                <li>- functionality 4</li>
            </ul>
        </div>
    </section>
</div>
<aside class="recently-news center col-sm-3">
    <h3>Latest news</h3>
    <div class="titles clearfix">
        <!-- Nav tabs -->
        <ul class="nav nav-pills flex" role="tablist">
            <li class="active flex-1">
                <a href="#system" role="tab" data-toggle="tab">System</a>
            </li>
            <li class="flex-1">
                <a href="#application" role="tab" data-toggle="tab">Application</a>
            </li>
        </ul>
    </div>
    <div class="aside-info clearfix">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="system">
                <p>
                    <span class="date">05.03.15 - </span>
                    <a href="#" class="desc">Mise à jour 0.5</a>
                </p>
                <p>
                    <span class="date">12.01.15 - </span>
                    <a href="#" class="desc">Mise à jour 0.4</a>
                </p>
                <p>
                    <span class="date">24.12.14 - </span>
                    <a href="#" class="desc">Joyeux Noël 2014 !</a>
                </p>
                <p>
                    <span class="date">01.12.14 - </span>
                    <a href="#" class="desc">Mise à jour 0.3</a>
                </p>
                <p>
                    <span class="date">07.10.14 - </span>
                    <a href="#" class="desc">Mise à jour 0.2</a>
                </p>
                <p>
                    <span class="date">01.09.13 - </span>
                    <a href="#" class="desc">Développement de l'application !</a>
                </p>
            </div>
            <div class="tab-pane fade" id="application">
                <p>
                    <span class="date">24.12.15 - </span>
                    <a href="#" class="desc">Joyeux Noël 2015 !</a>
                </p>
                <p>
                    <span class="date">01.12.14 - </span>
                    <a href="#" class="desc">Test</a>
                </p>
                <p>
                    <span class="date">07.10.14 - </span>
                    <a href="#" class="desc">Mise à jour 0.2</a>
                </p>
                <p>
                    <span class="date">01.09.13 - </span>
                    <a href="#" class="desc">Développement de l'application !</a>
                </p>
            </div>
        </div>
    </div>
</aside>
<script>
    $( function () {

        $( ".home-notifications a.close-notifications" ).on( "click", function ( e ) {
            $( ".home-notifications" ).slideToggle( 500 );

            e.preventDefault();
        } );

    } );
</script>