<div class="row">
    <div class="col-md-12">
        <section>
            <h2 class="center">Interface par défaut de l'application.</h2>

            Raccourcis utiles:<br />
            - <a href="/home/admin">Admin</a><br />
            - <a href="/home/member">Member (connecté)</a><br />
            - <a href="/home/visitor">Visitor (déconnecté)</a><br />
            <br />
            <br />
            Ces raccourcis sont des failles de sécurité, ils doivent être désactivés en production. (api/controllers/Home.ts:15)
        </section>
    </div>
</div>