########################
# node.js / npm
########################
lib-cov
*.seed
*.csv
*.dat
*.out
*.pid
*.gz

pids
node_modules
results


########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea


########################
# local config
########################
nbproject/private
*/node_modules/
.tmp/
config/local
logs/

# Soft - Database and UML
*sws


#######################
# Ignore files to keep this Sails default application clean.
#######################
documentation/